<%= render 'shared/banner'  %>


<div class="container">
  <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card">
            <%= link_to(cocktail) do  %>
              <%= render 'shared/card', cocktail: cocktail %>
         <% end %>

          </div>
        </div>
      <%end %>
  </div>
</div>
