<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.acg.org/sites/files/styles/masthead_1440/public/acg-portland-2880x1200.jpg?itok=YUl3_VEV');">
  <div class="banner-content">
    <%= image_tag "whiskey_logo.png", class: "logo"%><br>
    <a class="btn btn-primary btn-lg">LIST OF DRINKS</a>
  </div>
</div>
